.formulario-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.formulario-content {
  width: 400px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.formulario-button {
  margin-top: 10px;
}

.formulario-image {
  width: 150px;
  margin-left: 20px;
}
